/*
Colors used:
#BDD4E2 (Pastel Blue)
#DFE2E1(Pastel Green)
#CFC5C3(Pastel Pink)

Fonts used:
Bodoni Moda - used for headings
Spartan - used for regular text
*/

* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  background-color: #FFFAFA;
  font-family: 'Spartan', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6;
  color: #222831;
}

header {
  width: 100%;
  background-color: #ebe1e1;
  padding: 10px 0 4px;
  border-bottom: 3px solid #ebe1e1;
  position: fixed;
  -webkit-box-shadow: -1px -1px 5px 0px rgba(50, 50, 50, 0.47);
  -moz-box-shadow:    -1px -1px 5px 0px rgba(50, 50, 50, 0.47);
  box-shadow:         -1px -1px 5px 0px rgba(50, 50, 50, 0.47);
}

main {
  padding-top: 56px;
}

footer {
  background-color: #ebe1e1;
  text-align: center;
  color: #000000;
  bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bodoni Moda', serif;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

a {
  color: #4a4a4a;
  text-decoration: none;
}

a:visited {
  color: #454F5B;
}

a:hover {
  color: #637381;
  text-decoration: underline;
}

a:focus {
  color: #637381;
  text-decoration: underline;
}

a:active {
  color: #212B36;
}

.button {
  display: inline-block;
  background-color: #BDD4E2;
  color: #4a4a4a;
  font-weight: 400;
  text-decoration: none;
  padding: 0.625em 1.875em;
  border-radius: 3px;
  border-bottom: 2px solid #BDD4E2;
  transition: 0.2s; opacity;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button:active {
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  display: inline-block;
  background-color: #BDD4E2;
  color: #4a4a4a;
  font-weight: 400;
  padding: 0.625em 1.875em;
  border: 2px solid #BDD4E2;
  transition: 0.2s opacity;
}

.button.contact:hover {
  opacity: 1, 0;
  text-decoration: none;
}

.button.contact:active {
  opacity: 1, 0;
  text-decoration: none;
}

#work .button {
  margin-bottom: 2em;
}

selector {
  margin: 0 auto;
}

selector {
  position: relative;
}

selector {
  width: 1200px;
}

selector {
  width: 80%;
}

/* Layout styling */

#hero {
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero h1 {
  text-align: center;
}

#curator h1 {
  text-align: center;
}

#designprocess h2 {
  text-align: center;
}

#discovery h2 {
  text-align: center;
}

#competitiveanalysis h3 {
  text-align: center;
}

#define h2 {
  text-align: center;
}

#features h4 {
  text-align: center;
}

#ideation h2 {
  text-align: center;
}

#wireframes h3 {
  text-align: center;
}

#wireframes1 h3 {
  text-align: center;
}

#UI h2 {
  text-align: center;
}

#moodboard h3 {
  text-align: center;
}

#prototype h2 {
  text-align: center;
}

#Recap h3 {
  text-align: center;
}

#screens h2, h3 {
  text-align: center;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#footer {
  padding-top: 15px;
  padding-bottom: 15px;
}

#about {
  padding-top: 15px;
}

#work {
  text-align: center;
}

.container {
  padding: 0 15px;
  max-width: 1200px;
}

.row {
  margin: 25px 0;
}

.logo {
  max-width: 250px;
  text-align: center;
}

.center {
  text-align: center;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle.responsive li  {
  display: block;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  display: inline-block;
  font-size: 12px;
  padding: 0 7px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
  text-decoration: none;
}

nav>ul>li>a:visited {
  display: inline-block;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a
}

nav>ul>li>a:hover {
  display: inline-block;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a
}

nav>ul>li>a:focus {
  display: inline-block;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #3a566e
}

nav>ul>li>a:active {
  display: inline-block;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.social svg {
  width: 100px;
  max-width: 40px;
  height: auto;
}

.social ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.social li {
  display: inline-block;
  margin: 2em 0.5em 1em 0.5em;
}

#work h2 {
  text-align: center;
}

#work h3 {
  text-align: center;
}

.social .fab {
  font-size: 2em;
  color: #495464;
}

.social .fab:hover {
  color: #95adbe;
}

.section {
  padding: 1em 0;
}

footer {
  padding: 2em 1em;
}

.copy {
  font-size: 0.7em;
  margin-bottom: 0em;
}

.title {
  font-family: 'Bodoni Moda', serif;
  font-size: 1.5em;
  font-weight: 400;
  color: #4a4a4a;
}

#hero {
  text-align: center;
}

#hero span {
  display: block;
}

#about-page h3 {
  margin-top: 0;
}

#about h1 {
  text-align: center;
}

#skillstools h2 {
  text-align: center;
}

/*
Animation
*/

.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/*
Media Queries
*/

@media only screen and (min-width: 640px) {

header {
  text-align: unset;
  padding: 20px 0 13px;
}

nav {
  width: auto;
  float: right;
  margin-top: 7px;
}

nav > ul {
  margin: 1em 0;
}

nav>ul>li {
  display: inline-block;
}

.navtoggle li:not(:last-child) {
  display: inline-block;
}

.navtoggle li:last-child {
  display: none;
}

#work h3 {
  margin-top: 0;
}

.col-md-6 {
  width: 50%;
}

[class*="col-"] {
  float: left;
  padding: 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
  padding: 10px;
}

.project h2, .project h3, .project h4, .project p, .project ul {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
}

@media only screen and (min-width: 1024px) {

.col-md-6 {
  width: 50%;
}

[class*="col-"] {
  float: left;
}

.row::after {
  content: "";
  clear: both;
  display: table;
  padding: 10px;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 1440px) {
}
